* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: PermanentMarker-Regular;
  src: url(./fonts/PermanentMarker-Regular.ttf);
}
@font-face {
  font-family: Lobster-Regular;
  src: url(./fonts/Lobster-Regular.ttf);
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 0.5fr 1.1fr 1fr 1fr;
  grid-template-rows: 0.3fr 1.7fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "nav nav nav nav"
    "contact content content content"
    "contact content content content";
}
.nav {
  grid-area: nav;
  background-color: rgb(187, 187, 187);
}
.contact {
  grid-area: contact;
  background-color: rgb(26, 26, 26);
}
.content {
  grid-area: content;
}

#personal-link1 {
  margin: 12em;
}
#personal-link2 {
  margin: 12em;
}
#personal-link3 {
  margin: 12em;
}
#personal-link4 {
  margin: 12em;
}

#my-photo {
  border-radius: 50%;
  border: 0.5rem solid rgb(65, 65, 65);
  margin-top: 5rem;
  margin-left: 5%;
  width: 20rem;
  height: 20rem;
}

#personal-info {
  font-family: Lobster-Regular;
  padding-top: 1rem;
  padding-left: 2rem;
  font-size: 5rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-top: 2rem;
  padding-left: 8rem;
}

#einstein-quote {
  font-size: 3rem;
  text-align: center;
  padding-left: 10rem;
  padding-top: 57rem;
}

#home-page {
  font-family: PermanentMarker-Regular;
  text-align: left;
  text-transform: uppercase;
  font-size: 4rem;
  padding-left: 1rem;
  text-decoration: none;
  margin: 3rem;
}

.php_section {
  font-size: 2rem;
  text-align: center;
  background: #eee;
  /*display: inline-block;*/
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0px 7px 10px -7px rgba(50, 50, 50, 0.75);
}
