* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: PermanentMarker-Regular;
  src: url(./fonts/PermanentMarker-Regular.ttf);
}
@font-face {
  font-family: Lobster-Regular;
  src: url(./fonts/Lobster-Regular.ttf);
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 0.5fr 1.1fr 1fr 1fr;
  grid-template-rows: 0.3fr 1.7fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "nav nav nav nav"
    "contact content content content"
    "contact content content content";
}
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  grid-area: nav;
  background-color: rgb(187, 187, 187);
}
.nav li {
  list-style: none;
}
.contact {
  grid-area: contact;
  background-color: rgb(26, 26, 26);
}
.content {
  grid-area: content;
}

#my-photo {
  border-radius: 50%;
  border: 0.5rem solid rgb(65, 65, 65);
  margin-top: 5rem;
  margin-left: 5%;
  width: 203px;
  height: 203px;
  border-radius: 50%;
  max-width: 100%;
}

#personal-info {
  font-family: "Libre Baskerville", serif;
  padding-top: 1rem;
  padding-left: 2rem;
  font-size: 5rem;
}

.extra-links {
  list-style-type: none;
  margin: 0;
  padding-top: 2rem;
  padding-left: 8rem;
}

#einstein-quote {
  font-size: 3rem;
  text-align: center;
  margin-left: 10rem;
  margin-top: 57.6rem;
  max-width: 100%;
}

#home-page {
  font-family: PermanentMarker-Regular;
  text-align: left;
  text-transform: uppercase;
  font-size: 4rem;
  padding-left: 1rem;
  text-decoration: none;
  margin: 3rem;
}
